<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

  <link rel="stylesheet" href="css/style.css">

  <title>SignalR Chat Sample</title>
</head>

<body>
  <div id="app">
    <nav class="topnav navbar fixed-top navbar-expand navbar-dark bg-dark">
      <span class="navbar-brand">SignalR Chat Sample</span>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <picture class="online">
                <img class="avatar" :src="avatar">
              </picture>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <span class="dropdown-item">{{ name }}</span>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/signout">Sign out</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div>
      <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
          <div class="sidebar-heading">Friends</div>
          <div class="list-group list-group-flush" v-for="u in userList">
            <a href="#"
              :class="{ 'list-group-item': true, 'list-group-item-action': true, 'list-group-item-dark': current && users[u].id === current.id ? true : false }"
              v-on:click.prevent="changeCurrent(users[u])">
              <picture :class="users[u].status">
                <img class="avatar" :src="users[u].avatar">
              </picture>
              {{ users[u].name }}
              <span v-if="users[u].unread" class="badge badge-danger">{{ users[u].unread }}</span>
            </a>
          </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">

          <nav class="navbar navbar-expand navbar-light bg-light border-bottom">
            <span class="navbar-brand">
              <button class="btn btn-outline-dark" id="menu-toggle"><i class="fas fa-list"></i></button>
            </span>
            <div v-if="current" class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li>
                  <span v-if="current" class="navbar-text">
                    <picture :class="current.status">
                      <img class="avatar" :src="current.avatar">
                    </picture>
                    {{ current.name }}
                  </span>
                </li>
              </ul>
              <button class="btn btn-success ml-auto" :disabled="callTarget !== null || !hasAudio" v-on:click="call(current.id, false)">
                <i class="fas fa-phone-alt"></i>
              </button>
              <button class="btn btn-success ml-2" :disabled="callTarget !== null || !hasVideo" v-on:click="call(current.id, true)">
                <i class="fas fa-video"></i>
              </button>
            </div>
          </nav>

          <div id="message-log" class="container-fluid" v-if="current">
            <div class="row" v-for="m in current.messages">
              <div class="col-12">
                <div v-if="m.system" class="message-system">
                  {{ m.time }}&nbsp;&nbsp;&nbsp;&nbsp;{{ m.content }}
                </div>
                <div v-if="!m.system"
                  :class="{ 'message-entry': true, 'd-flex': true, 'flex-nowrap': true, 'float-right': !m.incoming }">
                  <picture v-if="m.incoming" :class="current.status">
                    <img class="avatar" :src="current.avatar">
                  </picture>
                  <div :class="{ message: true, 'message-incoming': m.incoming, 'message-outgoing': !m.incoming }">
                    <div class="timestamp">
                      {{ m.time }}
                    </div>
                    <div>
                      {{ m.content }}
                    </div>
                  </div>
                  <picture v-if="!m.incoming" :class="current.status">
                    <img class="avatar" :src="avatar">
                  </picture>
                </div>
              </div>
            </div>
          </div>
          <div id="call-ui"
            :class="{ 'd-none': callTarget === null, fullscreen: fullscreenCall, window: !fullscreenCall }">
            <div id="top-wrapper">
              <button class="flat-button" v-if="localVideo || (callStatus === 'connected' && remoteVideo)" v-on:click="videoFit = !videoFit">
                <i class="fas fa-arrows-alt-h"></i>
              </button>
              <button class="flat-button" v-on:click="fullscreenCall = !fullscreenCall">
                <i :class="{ fas: true, 'fa-compress': fullscreenCall, 'fa-expand': !fullscreenCall }"></i>
              </button>
            </div>
            <div id="avatar-wrapper">
              <img id="avatar-large" v-if="callStatus === 'incoming' || callStatus ==='calling' || (callStatus === 'connected' && !remoteVideo)"
                :src="users[callTarget].avatar">
            </div>
            <div id="call-text">
              <span v-if="callStatus === 'calling'">Calling {{ users[callTarget].name }} ...</span>
              <span v-if="callStatus === 'incoming'">{{ users[callTarget].name }} is calling you ...</span>
              <span v-if="callStatus === 'connected' && !remoteVideo">{{ users[callTarget].name }}</span>
            </div>
            <div id="button-wrapper">
              <button id="hangup-button" class="btn btn-danger"
                v-if="callStatus === 'calling' || callStatus === 'connected'" v-on:click="hangup()">
                <i class="fas fa-phone-alt fa-rotate-135"></i>
              </button>
              <div v-if="callStatus === 'incoming'">
                <button id="answer-button" class="btn btn-success" v-on:click="answer()">
                  <i class="fas fa-phone-alt"></i>
                </button>
                <div id="button-separator"></div>
                <button id="decline-button" class="btn btn-danger" v-on:click="hangup()">
                  <i class="fas fa-phone-alt fa-rotate-135"></i>
                </button>
              </div>
            </div>
            <video id="remote-view" :class="{ 'd-none': callStatus !== 'connected', 'video-fit': videoFit }" autoplay playsinline></video>
            <video id="self-view" :class="{ 'd-none': callStatus !== 'connected' && callStatus !== 'calling', 'video-fit': videoFit }" muted autoplay playsinline></video>
          </div>
          <footer v-if="current">
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-top">
              <div class="input-group">
                <input class="form-control" type="text" placeholder="Type a new message" v-model="current.draft"
                  v-on:keypress.enter="sendMessage">
                <div class="input-group-append">
                  <button class="btn btn-outline-success" v-bind:disabled="!current.draft" v-on:click="sendMessage">
                    <i class="fas fa-arrow-right"></i>
                  </button>
                </div>
              </div>
            </nav>
          </footer>
        </div>
        <!-- /#page-content-wrapper -->
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@aspnet/signalr@1.0.0/dist/browser/signalr.min.js"></script>
  <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
  <script src="js/peer.js"></script>
  <script>
    var hasVideo = false, hasAudio = false;
    navigator.mediaDevices.enumerateDevices().then(info => {
      info.forEach(i => {
        if (i.kind === 'audioinput') hasAudio = true;
        else if (i.kind === 'videoinput') hasVideo = true;
      })
    });

    var getCamera = (video) => navigator.mediaDevices.getUserMedia({ video: video, audio: true });
    function setSelfView(stream) {
      var selfView = document.querySelector('#self-view');
      selfView.srcObject = stream;
    }
    function setRemoteView(stream) {
      var remoteView = document.querySelector('#remote-view');
      remoteView.srcObject = stream;
    }

    var peer = Peer();
    var connection = new signalR.HubConnectionBuilder().withUrl('/chat').build();
    var localStream;

    // setup signaling events
    peer
      .onSendRequest((id, video, desc) => connection.send('clientRequest', id, video, desc))
      .onSendCandidate((id, candidate) => connection.send('clientCandidate', id, candidate))
      .onSendAnswer((id, video, desc) => connection.send('clientAnswer', id, video, desc))
      .onSendHangup(id => connection.send('clientHangup', id));
    connection.on('clientRequest', (id, video, desc) => peer.onReceiveRequest(id, video, desc));
    connection.on('clientAnswer', (id, video, desc) => peer.onReceiveAnswer(id, video, desc));
    connection.on('clientCandidate', (id, candidate) => peer.onReceiveCandidate(id, candidate));
    connection.on('clientHangup', id => peer.onReceiveHangup(id));

    var appData = {
      name: null,
      avatar: null,
      users: [],
      userList: [],
      current: null,
      callTarget: null,
      callStatus: null,
      fullscreenCall: true,
      localVideo: false,
      remoteVideo: false,
      videoFit: true
    };

    var app = new Vue({
      el: '#app',
      data: appData,
      methods: {
        getTime: function () {
          var t = new Date(Date.now());
          return `${t.getMonth()}/${t.getDate()} ${t.getHours()}:${t.getMinutes().toString().padStart(2, '0')}`;
        },
        prepareUser: function (user) {
          user.messages = [];
          user.draft = null;
          user.unread = 0;
        },
        sendMessage: function () {
          if (!this.current.draft) return;
          connection.send('sendMessage', this.current.id, this.current.draft);
          this.current.messages.push({
            time: this.getTime(),
            incoming: false,
            content: this.current.draft,
          });
          this.current.draft = null;
        },
        changeCurrent: function (user) {
          this.current = user;
          user.unread = 0;
        },
        addIncomingMessage: function (id, message) {
          this.users[id].messages.push({
            time: this.getTime(),
            incoming: true,
            content: message,
          });
          if (!this.current || this.current.id !== id) this.users[id].unread++;
        },
        addSystemMessage: function (id, message) {
          this.users[id].messages.push({
            time: this.getTime(),
            system: true,
            content: message,
          });
        },
        call: function (id, video) {
          if (this.callStatus) return;
          this.callTarget = id;
          this.callStatus = 'calling';
          this.fullscreenCall = true;
          this.localVideo = video;
          getCamera(video).then(stream => {
            localStream = stream;
            setSelfView(stream);
            peer.call(id, video, stream);
          }).catch(error => console.log(`error occurred ${error}`));
        },
        onCall: function (id, video) {
          if (this.callStatus) return;
          this.fullscreenCall = false;
          this.remoteVideo = video;
          this.callTarget = id;
          this.callStatus = 'incoming';
        },
        answer: function () {
          if (this.callStatus !== 'incoming') return;
          this.callStatus = 'connected';
          this.fullscreenCall = true;
          connection.send('changeStatus', 'busy');
          this.changeCurrent(this.users[this.callTarget]);
          this.localVideo = this.remoteVideo && hasVideo;
          getCamera(this.localVideo).then(stream => {
            localStream = stream;
            setSelfView(stream);
            peer.answer(this.localVideo, stream);
          });
        },
        hangup: function () {
          peer.hangup();
          this.onHangup();
        },
        onAnswer: function (video) {
          if (this.callStatus !== 'calling') return;
          this.callStatus = 'connected';
          this.remoteVideo = video;
          connection.send('changeStatus', 'busy');
        },
        onHangup: function () {
          this.addSystemMessage(this.callTarget, 'Call ended');
          this.callTarget = null;
          this.callStatus = null;
          this.localVideo = this.remoteVideo = false;
          connection.send('changeStatus', 'online');
          if (localStream)
            for (var track of localStream.getTracks()) track.stop();
        },
        online: function (user) {
          if (this.users[user.id]) this.users[user.id].status = 'online';
          else {
            this.prepareUser(user);
            this.users[user.id] = user;
            this.userList.push(user.id);
          }

          this.addSystemMessage(user.id, user.name + ' is online');
        },
        changeStatus: function (id, status) {
          this.users[id].status = status;
          if (status === 'offline' && id === this.callTarget) this.hangup();
          if (status === 'offline') this.addSystemMessage(id, this.users[id].name + ' is ' + status);
        },
        setUsers: function (users) {
          var userMap = {};
          users.forEach(u => {
            this.prepareUser(u);
            userMap[u.id] = u;
          });
          this.userList = users.map(u => u.id);
          this.users = userMap;
        }
      },
      mounted() {
        axios
          .get('/profile')
          .then(p => {
            this.name = p.data.name;
            this.avatar = p.data.avatar;
          });
      },
      updated() {
        var log = this.$el.querySelector('#message-log');
        if (log) log.scrollTop = log.clientHeight;
      }
    });

    // setup callbacks
    peer
      .onCall(app.onCall)
      .onHangup(app.onHangup)
      .onAnswer(app.onAnswer)
      .onStream(setRemoteView);

    connection.on('online', app.online);
    connection.on('changeStatus', app.changeStatus);
    connection.on('userList', app.setUsers);
    connection.on('newMessage', app.addIncomingMessage);
    connection.start();

    axios
      .get('/turn')
      .then(t => peer.setIceServers([t.data]));

    $("#menu-toggle").click(function (e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>
</body>

</html>
